<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>夕觉素材</title>
    <meta name="keywords" content="矢量素材,PS素材,psd素材,ppt模板,视频素材,背景图片,字体下载,图片素材,素材下载,素材图库,免费素材">
    <meta name="description"
          content="夕觉素材为您提供海量免费设计素材图片下载。夕觉素材包含矢量图,PS素材,psd素材免费下载,艺术字体下载,节日素材,淘宝素材,ppt模板,婚纱相册模板,网页模板等设计素材下载,是您设计的好帮手！">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/swiper.min.css" rel="stylesheet">
    <script src="/static/js/hm.js"></script>
    <script src="/static/js/hm.js"></script>
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=1350">
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/jquery.smint.js"></script>
</head>

<body style="padding-bottom: 0px;">

<div class="header">
    <div class="logo">
        <a href="http://111.229.77.76:9009/index"><img src="/static/images/header/logo.png"></a>
    </div>
</div>

<div class="banner_box">
    <div class="w1380">
        <div class="header">
            <div class="w1380">
                <a href="http://111.229.77.76:9009/index" class="logo1"><img src="/static/images/header/logo.png"
                                                                             width="122" height="65"></a>
                <div class="nav_menu">
                    <h3>分类目录</h3>
                    <ul>
                        <li class="nav_ico_1"><a
                                href="http://ppt.office365.xin/guanggaosheji/?cls=all">所有素材<span>28795</span></a></li>
                        <li class="nav_ico_2"><a
                                href="http://ppt.office365.xin/guanggaosheji/">平面设计<span>14879</span></a>
                        </li>
                        <li class="nav_ico_3"><a href="http://ppt.office365.xin/dianshang/">电商设计<span>4290</span></a>
                        </li>
                        <li class="nav_ico_4"><a
                                href="http://ppt.office365.xin/bangongguanli/">办公管理<span>3148</span></a>
                        </li>
                        <li class="nav_ico_5"><a
                                href="http://ppt.office365.xin/jianzhuziyuan/">建筑资源<span>1839</span></a>
                        </li>
                        <li class="nav_ico_6"><a href="http://ppt.office365.xin/wangye/">网页UI<span>269</span></a></li>
                        <li class="nav_ico_7"><a href="http://ppt.office365.xin/yingshiyinpin/">影视音频<span>590</span></a>
                        </li>
                        <li class="nav_ico_8"><a href="http://ppt.office365.xin/heji/">合集素材<span>2419</span></a></li>
                        <li class="nav_ico_9"><a href="http://ppt.office365.xin/gaoqingtuku/">高清图库<span>414</span></a>
                        </li>
                        <li class="nav_ico_10"><a href="http://ppt.office365.xin/chahuahuihua/">插画绘画<span>947</span></a>
                        </li>
                    </ul>
                </div>
                <div class="sousuo">
                    <form action="http://ppt.office365.xin/search" onsubmit="">
                        <div class="filter-box">
                            <div class="filter-text">
                                <input class="filter-title" type="text" readonly="" placeholder="">
                                <i class="icon icon-filter-arrow"></i>
                            </div>
                            <select name="k1" style="display: none;">
                                <option value="0"></option>
                            </select>
                            <ul class="filter-list" data-in="undefined" data-for="undefined" style="">
                                <li data-value="0" data-id="undefined" data-upid="undefined"><a title=""></a>
                                </li>
                                </li>
                            </ul>
                        </div>

                        <div class="inputSearch">
                            <input type="text" id="search_wd" name="wd" class="_t">
                            <button type="submit" class="_b"></button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="integral_menu">
                    <ul>
                        <li><a href="http://ppt.office365.xin/">首页</a></li>
                        <li><a href="http://ppt.office365.xin/guanggaosheji/?cls=all">所有素材</a></li>
                        <li><a href="http://ppt.office365.xin/u-vip" class="cz">VIP会员</a></li>
                        <li><a href="http://ppt.office365.xin/arts"></a></li>
                        <li style="display:none"><a href="http://ppt.office365.xin/#">···</a>
                            <div class="twe_menu">
                                <div class="twe_menu_box">
                                    <a href="http://ppt.office365.xin/#"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <a href="" target="_blank" class="swiper-slide"
                       style="background-image: url(/static/images/header/loop/3aa0dbe24fde0838e871205d20fca2af.jpg);"></a>
                    <a href="" target="_blank" class="swiper-slide"
                       style="background-image: url(/static/images/header/loop/88d73376c92aa3e7052fb0cb060f88d6.jpg);"></a>
                    <a href="" target="_blank" class="swiper-slide"
                       style="background-image: url(/static/images/header/loop/470df9acd26af3b015803a7cfbfd6ac0.jpg);"></a>
                    <a href="" target="_blank" class="swiper-slide"
                       style="background-image: url(/static/images/header/loop/85461b4c8bbe69b56c6d4584e96deb37.jpg);"></a>
                    <a href="" target="_blank" class="swiper-slide"
                       style="background-image: url(/static/images/header/loop/1838706a9c166e5e706a22252b4c8505.jpg);"></a>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>

                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="yh_box">
                <div class="yh w_dl">
                    <a class="tx" style="background-image:url(/static/images/index/tx2.png)"></a>
                    <div class="name" style="opacity: 0;height:10px">1</div>
                    <div class="numerical">Hi~欢迎来到鲸图网</div>
                    <div class="button">
                        <a class="grzx" href="http://ppt.office365.xin/login">登陆</a>
                        <a class="sczp" href="http://ppt.office365.xin/reg">注册</a>
                    </div>
                    <p>开通 VIP会员 全站素材免费下载</p>
                </div>
                <a class="ggt"><img src=""></a>
                <div class="rm_box">
                    <div id="scrollDiv">
                        <ul class="rm" style="margin-top: -17.9113px;">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="ind_ggtu">
    <div class="w1380">
        <div class="swiper-containers swiper-container-horizontal swiper-container-free-mode">
            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                <div class="swiper-slide swiper-slide-active" style="width: 260px; margin-right: 20px;"><a
                        href="#"
                        target="_blank"><img src="/static/images/header/line/1af0d3e4825d3c9e04f4c821e24ab74e.jpg"></a>
                </div>
                <div class="swiper-slide swiper-slide-next" style="width: 260px; margin-right: 20px;"><a
                        href="#"
                        target="_blank"><img src="/static/images/header/line/82a979d1ab0f7f391bbbd4cbb42fc305.jpg"></a>
                </div>
                <div class="swiper-slide" style="width: 260px; margin-right: 20px;"><a
                        href="#"
                        target="_blank"><img src="/static/images/header/line/395f67ce8bfd579d37b7807fd18fe011.jpg"></a>
                </div>
                <div class="swiper-slide" style="width: 260px; margin-right: 20px;"><a
                        href="#" target="_blank"><img
                        src="/static/images/header/line/633bcb807a6c447b2b0883919da78d79.jpg"></a></div>
            </div>
            <!-- Add Pagination -->
        </div>
        <div class="swiper-button-nexts swiper-button-white swiper-button-disabled"></div>
        <div class="swiper-button-prevs swiper-button-white swiper-button-disabled"></div>
    </div>
</div>

<div class="index_jtdb">
    <div class="w1380">
        <div class="jtdb_box">
            <span><a href="http://ppt.office365.xin/arts/dubao"></a></span>
            <div class="jtdb_boxs">
                <div id="scrollDivs">
                    <ul class="ul_box">
                        <li>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </li>
                        <li><a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </li>
                        <li><a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </li>
                        <li><a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </li>
                        <li><a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="ijtoo-block3">
    <section class="w1380">
        <div class="thead">
            <h3>精选内容</h3>
            <p>每日更新，获取最新内容</p>
            <div class="navs">
                <div class="bg"></div>
                <ul>
                    <li class="gl_hover"><a data-dirname="/guanggaosheji-haibao.html" href="javascript:;" class="more">海报</a>
                    </li>
                    <li><a data-dirname="/guanggaosheji-haibao.html" href="javascript:;" class="more">草图大师模型</a></li>
                    <li><a data-dirname="/guanggaosheji-haibao.html" href="javascript:;" class="more">淘宝海报/banner</a>
                    </li>
                    <li><a data-dirname="/guanggaosheji-haibao.html" href="javascript:;" class="more">相册/影楼</a></li>
                    <li><a data-dirname="/guanggaosheji-haibao.html" href="javascript:;" class="more">移动界面</a></li>
                </ul>
            </div>
        </div>
        <div class="ijtoo-recommendblock">
            <ul class="work-item" style="display: block;">
                <li class="item indexitem_9 ">
                    <a href="/8610038456.html">
                        <img src="http://static.ijtoo.com/ijdata/img/E/E-3/100100628.jpg" alt="平面矢量音乐节海报"
                             title="平面矢量音乐节海报" width="255">
                    </a>
                    <div class="infos">
                        <a href="/8610038456.html">
                            <div class="title">
                                <i class="nothing"></i> 平面矢量音乐节海报
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>25</span><span class="v"><em></em>1174</span><span
                                class="l"><em></em>4</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 ">
                    <a href="/8610038447.html">
                        <img src="http://static.ijtoo.com/ijdata/img/E/E-3/100100619.jpg" alt="简约音乐节矢量海报"
                             title="简约音乐节矢量海报" width="255">
                    </a>
                    <div class="infos">
                        <a href="/8610038447.html">
                            <div class="title">
                                <i class="nothing"></i> 简约音乐节矢量海报
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>59</span><span class="v"><em></em>1365</span><span
                                class="l"><em></em>1</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 ">
                    <a href="/8610038418.html">
                        <img src="http://static.ijtoo.com/ijdata/img/E/E-3/100100590.jpg" alt="音乐节矢量海报设计"
                             title="音乐节矢量海报设计" width="255">
                    </a>
                    <div class="infos">
                        <a href="/8610038418.html">
                            <div class="title">
                                <i class="nothing"></i> 音乐节矢量海报设计
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>9</span><span class="v"><em></em>1099</span><span
                                class="l"><em></em>0</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 item-last">
                    <a href="/8610038355.html">
                        <img src="http://static.ijtoo.com/ijdata/img/E/E-2/100100527.jpg" alt="清新手绘音乐节海报"
                             title="清新手绘音乐节海报" width="255">
                    </a>
                    <div class="infos">
                        <a href="/8610038355.html">
                            <div class="title">
                                <i class="nothing"></i> 清新手绘音乐节海报
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>24</span><span class="v"><em></em>1195</span><span
                                class="l"><em></em>4</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 ">
                    <a href="/8610038295.html">
                        <img src="http://static.ijtoo.com/ijdata/img/E/E/100100467.jpg" alt="矢量扁平音乐家海报设计"
                             title="矢量扁平音乐家海报设计" width="255">
                    </a>
                    <div class="infos">
                        <a href="/8610038295.html">
                            <div class="title">
                                <i class="nothing"></i> 矢量扁平音乐家海报设计
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>6</span><span class="v"><em></em>1037</span><span
                                class="l"><em></em>3</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 ">
                    <a href="/861003593.html">
                        <img src="http://static.ijtoo.com/ijdata/img/03/89003593/1_01.jpg"
                             alt="文艺清新精致生活家居之美创意家居主题海报"
                             title="文艺清新精致生活家居之美创意家居主题海报" width="255">
                    </a>
                    <div class="infos">
                        <a href="/861003593.html">
                            <div class="title">
                                <i class="nothing"></i> 文艺清新精致生活家居之美创意家居主题海报
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>17</span><span class="v"><em></em>1216</span><span
                                class="l"><em></em>1</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 ">
                    <a href="/861003147.html">
                        <img src="http://static.ijtoo.com/ijdata/img/03/89003147/1_01.jpg" alt="时尚大气企业唯美励志图片设计海报"
                             title="时尚大气企业唯美励志图片设计海报" width="255">
                    </a>
                    <div class="infos">
                        <a href="/861003147.html">
                            <div class="title">
                                <i class="nothing"></i> 时尚大气企业唯美励志图片设计海报
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>16</span><span class="v"><em></em>1448</span><span
                                class="l"><em></em>6</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 item-last">
                    <a href="/861003142.html">
                        <img src="http://static.ijtoo.com/ijdata/img/03/89003142/1_01.jpg"
                             alt="创意企业文化挑战自我超越极限微商励志海报"
                             title="创意企业文化挑战自我超越极限微商励志海报" width="255">
                    </a>
                    <div class="infos">
                        <a href="/861003142.html">
                            <div class="title">
                                <i class="nothing"></i> 创意企业文化挑战自我超越极限微商励志海报
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>20</span><span class="v"><em></em>1329</span><span
                                class="l"><em></em>5</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 ">
                    <a href="/861002697.html">
                        <img src="http://static.ijtoo.com/ijdata/img/04/89002697/1_01.jpg" alt="日系简约小清新果汁海报设计"
                             title="日系简约小清新果汁海报设计" width="255">
                    </a>
                    <div class="infos">
                        <a href="/861002697.html">
                            <div class="title">
                                <i class="nothing"></i> 日系简约小清新果汁海报设计
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>19</span><span class="v"><em></em>1433</span><span
                                class="l"><em></em>1</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 ">
                    <a href="/861002692.html">
                        <img src="http://static.ijtoo.com/ijdata/img/04/89002692/1_01.jpg" alt="清爽黄色创意美食夏日饮品柠檬水促销海报"
                             title="清爽黄色创意美食夏日饮品柠檬水促销海报" width="255">
                    </a>
                    <div class="infos">
                        <a href="/861002692.html">
                            <div class="title">
                                <i class="nothing"></i> 清爽黄色创意美食夏日饮品柠檬水促销海报
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>16</span><span class="v"><em></em>1327</span><span
                                class="l"><em></em>12</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 ">
                    <a href="/861002118.html">
                        <img src="http://static.ijtoo.com/ijdata/img/03/89002118/1_01.jpg" alt="创意小清新宣传海报"
                             title="创意小清新宣传海报" width="255">
                    </a>
                    <div class="infos">
                        <a href="/861002118.html">
                            <div class="title">
                                <i class="nothing"></i> 创意小清新宣传海报
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>18</span><span class="v"><em></em>1221</span><span
                                class="l"><em></em>4</span>
                        </div>
                    </div>
                </li>
                <li class="item indexitem_9 item-last">
                    <a href="/86100587.html">
                        <img src="http://static.ijtoo.com/ijdata/img/02/89000587/DPHB_01.jpg" alt="创意挑战自我户外运动健身海报展板"
                             title="创意挑战自我户外运动健身海报展板" width="255">
                    </a>
                    <div class="infos">
                        <a href="/86100587.html">
                            <div class="title">
                                <i class="nothing"></i> 创意挑战自我户外运动健身海报展板
                            </div>
                        </a>
                        <div class="attr">
                            <span class="d"><em></em>11</span><span class="v"><em></em>1159</span><span
                                class="l"><em></em>0</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="moret"><a href="http://ppt.office365.xin/guanggaosheji-haibao.html">查看更多素材&gt;&gt;</a></div>
    </section>
    <div class="clearfix"></div>
</div>

<div class="ijtoo-block4">
    <div class="w1380">
        <div class="thead">
            <h3>热门标签</h3>
            <p>关注热点，紧贴设计趋势</p>
        </div>
        <div class="index_hot">
            <ul>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E5%A6%87%E5%A5%B3%E8%8A%82|%E5%A5%B3%E4%BA%BA%E8%8A%82|%E5%A5%B3%E7%A5%9E&amp;kwd=%E5%A6%87%E5%A5%B3%E8%8A%82"
                       target="_blank">妇女节</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E6%98%A5%E5%A4%A9|%E7%BB%BF%E8%89%B2&amp;kwd=%E6%98%A5%E5%A4%A9"
                       target="_blank">春天</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E6%8B%9B%E8%81%98|%E6%B1%82%E8%81%8C|%E7%AE%80%E5%8E%86&amp;kwd=%E6%8B%9B%E8%81%98"
                       target="_blank">招聘</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E6%A4%8D%E6%A0%91%E8%8A%82|%E7%8E%AF%E4%BF%9D|%E6%98%A5%E5%A4%A9&amp;kwd=%E6%A4%8D%E6%A0%91%E8%8A%82"
                       target="_blank">植树节</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E7%94%B5%E5%95%86|%E6%B7%98%E5%AE%9D|%E8%8A%82%E6%97%A5%E4%BF%83%E9%94%80|%E5%8F%8C11&amp;kwd=%E7%94%B5%E5%95%86"
                       target="_blank">电商</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E5%9B%BE%E6%A0%87|icon|ui|%E7%9F%A2%E9%87%8F|%E6%8C%89%E9%92%AE&amp;kwd=%E5%9B%BE%E6%A0%87"
                       target="_blank">图标</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E4%B8%AD%E5%9B%BD%E9%A3%8E|%E5%9B%BD%E9%A3%8E|%E5%8F%A4%E5%85%B8|%E7%BB%8F%E5%85%B8|%E6%B0%B4%E5%A2%A8|%E6%B0%B4%E5%BD%A9|%E5%94%AF%E7%BE%8E&amp;kwd=%E4%B8%AD%E5%9B%BD%E9%A3%8E"
                       target="_blank">中国风</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=ppt|%E6%95%99%E8%82%B2|%E8%AE%B2%E8%AF%BE|%E6%BC%94%E8%AE%B2|%E9%98%85%E8%AF%BB|%E6%A8%A1%E6%9D%BF&amp;kwd=PPT"
                       target="_blank">PPT</a></li>
                <li><a href="http://ppt.office365.xin/search?wd=%E5%90%8D%E7%89%87&amp;kwd=%E5%90%8D%E7%89%87"
                       target="_blank">名片</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E5%85%83%E7%B4%A0|%E8%83%8C%E6%99%AF&amp;kwd=%E8%83%8C%E6%99%AF"
                       target="_blank">背景</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E8%89%BE%E6%BB%8B|12.1|%E5%85%AC%E7%9B%8A|%E9%A2%84%E9%98%B2&amp;kwd=%E8%89%BE%E6%BB%8B%E7%97%85"
                       target="_blank">艾滋病</a></li>
                <li><a href="http://ppt.office365.xin/search?wd=%E7%BB%BF%E8%89%B2&amp;kwd=%E7%BB%BF%E8%89%B2"
                       target="_blank">绿色</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E8%83%8C%E6%99%AF|%E7%A5%AD%E7%A5%80|%E8%8A%82%E6%B0%94%E6%B5%B7%E6%8A%A5|%E9%AC%BC%E8%8A%82%E6%B5%B7%E6%8A%A5&amp;kwd=%E8%83%8C%E6%99%AF"
                       target="_blank">背景</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E7%94%B5%E5%AD%90%E5%B0%8F%E6%8A%A5|%E6%89%8B%E6%8A%84&amp;kwd=%E7%94%B5%E5%AD%90%E5%B0%8F%E6%8A%A5"
                       target="_blank">电子小报</a></li>
                <li><a href="http://ppt.office365.xin/search?wd=%E6%8F%92%E7%94%BB&amp;kwd=%E6%8F%92%E7%94%BB"
                       target="_blank">插画</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E8%8D%89%E5%9B%BE%E5%A4%A7%E5%B8%88|su|%E5%BB%BA%E7%AD%91%E6%A8%A1%E5%9E%8B|%E5%9C%BA%E6%99%AF%E8%AE%BE%E8%AE%A1|&amp;kwd=%E8%8D%89%E5%9B%BE%E5%A4%A7%E5%B8%88"
                       target="_blank">草图大师</a></li>
                <li><a href="http://ppt.office365.xin/search?wd=%E6%B5%B7%E6%8A%A5&amp;kwd=%E6%B5%B7%E6%8A%A5"
                       target="_blank">海报</a></li>
                <li><a href="http://ppt.office365.xin/search?wd=%E7%8C%AA%E5%B9%B4&amp;kwd=%E7%8C%AA%E5%B9%B4"
                       target="_blank">猪年</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E5%9C%B0%E4%BA%A7|%E6%A5%BC%E7%9B%98|%E5%88%AB%E5%A2%85|%E6%88%BF%E4%BA%A7&amp;kwd=%E5%9C%B0%E4%BA%A7"
                       target="_blank">地产</a></li>
                <li><a href="http://ppt.office365.xin/search?wd=%E5%9B%BE%E6%A0%87|ui&amp;kwd=%E5%9B%BE%E6%A0%87"
                       target="_blank">图标</a></li>
                <li><a href="http://ppt.office365.xin/search?wd=%E5%9B%BE%E6%A0%87&amp;kwd=%E7%AE%80%E7%BA%A6"
                       target="_blank">简约</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E8%8A%82%E6%97%A5|%E4%BF%83%E9%94%80&amp;kwd=%E4%BF%83%E9%94%80"
                       target="_blank">促销</a></li>
                <li>
                    <a href="http://ppt.office365.xin/search?wd=%E6%89%8B%E7%BB%98|%E6%8F%92%E7%94%BB|%E5%8D%A1%E9%80%9A&amp;kwd=%E6%89%8B%E7%BB%98"
                       target="_blank">手绘</a></li>
                <li><a href="http://ppt.office365.xin/search?wd=%E5%B1%95%E6%9D%BF&amp;kwd=%E5%B1%95%E6%9D%BF"
                       target="_blank">展板</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="ijtoo-block5">
    <a style="background-image:url(/static/images/index/ggt_3.jpg)"></a>
</div>

<footer class="footer">
    <div class="ijtoo-wrap">

        <div class=" pull-left">
            <div class="logos">
                <div class="imgs ijtoo-eleimg"></div>
            </div>
            <div class="clearfix"></div>
            <div class="footlink">
                <a href="http://ppt.office365.xin/today.html">版权声明</a><i></i><a
                    href="http://ppt.office365.xin/about.html">关于我们</a><i></i><a
                    href="http://ppt.office365.xin/contact.html">联系我们</a><i></i><a
                    href="http://ppt.office365.xin/protocol.html">服务协议</a><i></i> <a
                    href="http://ppt.office365.xin/forum">软件教程</a><i></i>
                <a href="http://ppt.office365.xin/faq">常见问题</a><i></i>
                <a href="http://ppt.office365.xin/free/" target="_blank">限免专区</a>

                <div class="clearfix"></div>
                <div class="linkfriends">
                    <span>友情链接：</span><a href="http://www.sucaidao.com/" target="_blank">素材岛</a><a
                        href="http://www.element3ds.com/" target="_blank">微元素</a><a href="http://huaban.com/q3rprwmyah/"
                                                                                    target="_blank">花瓣</a><a
                        href="http://www.xy-share.com/" target="_blank">3D模型</a><a href="https://www.pptxok.com/"
                                                                                   target="_blank">欧酷PPT</a><a
                        href="https://www.biransign.com/" target="_blank">标识设计</a><a href="http://www.tantupix.com/"
                                                                                     target="_blank">探图网</a><a
                        href="http://www.7msj.com/" target="_blank">电商设计</a><a href="http://www.scnoob.com/"
                                                                               target="_blank">菜鸟素材</a><a
                        href="http://www.kuaipng.com/" target="_blank">快图网</a><a href="http://www.peepic.com/"
                                                                                 target="_blank">皮图网</a><a
                        href="https://www.sucaifu.com/" target="_blank">素材府</a><a href="http://www.desktx.net/"
                                                                                  target="_blank">壁纸</a><a
                        href="https://www.shehui123.cn/" target="_blank">设汇</a><a href="https://www.cnue4.com/"
                                                                                  target="_blank">虚幻之家</a></div>
            </div>
            <div class="cpy">
                Copyright © 2012-2030 <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18055005号-1</a> 广东工商
                安全实名验证 信用网站
            </div>
        </div>
        <div class="sns-infos pull-right">
            <div class="qrcodes fr"></div>
            <div class="tel_qq fl">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>

<div class="member_notlogin">
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3397682929&amp;site=qq&amp;menu=yes" target="_blank">
        <div class="qqimg"><span></span></div>
        <div class="msg">有什么可以帮助您？<span></span></div>
        <div class="animated-circles  js-animated-circles">
            <div class="circles c-4"></div>
            <div class="circles c-5"></div>
            <div class="circles c-6"></div>
        </div>
    </a>
</div>
<div class="hiddens">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1274246247'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274246247%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    <span id="cnzz_stat_icon_1274246247"><a href="https://www.cnzz.com/stat/website.php?web_id=1274246247"
                                            target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0"
                                                                              src="./鲸图网-PSD素材,矢量图库,高清图片,免费设计素材下载_files/pic.gif"></a></span>
    <script src="./鲸图网-PSD素材,矢量图库,高清图片,免费设计素材下载_files/z_stat.php" type="text/javascript"></script>
    <script src="./鲸图网-PSD素材,矢量图库,高清图片,免费设计素材下载_files/core.php" charset="utf-8" type="text/javascript"></script>
</div>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?db2ddb441c8b51809666615a0d007d7d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script src="./鲸图网-PSD素材,矢量图库,高清图片,免费设计素材下载_files/index.js.下载"></script>

<style>
    body {
        padding-bottom: 200px;
    }

    .xuanfuad {
        height: 300px;
        width: 100%;
        z-index: 9999;
        display: block;
        position: fixed;
        left: 0px;
        bottom: 0px;
    }

    .xuanfuad a.mainlink {
        display: block;
        height: 300px;
    }

    .xuanfuad .w1380 {
        position: relative;
        height: 300px;
        z-index: 99
    }

    .xuanfuad .w1380 span.closes {
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 20px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        display: inline-block;
        position: absolute;
        cursor: pointer;
        z-index: 99999;
        top: 0px;
        right: 0px;
        font-size: 21px;
    }

    .xuanfuad .w1380 span.closes:hover {
        color: #C00;
    }
</style>
<div class="xuanfuad"
     style="background: url(&quot;http://static.ijtoo.com/ijdata/banner/XN02.png&quot;) center center no-repeat; height: 300px; display: none;">
    <a class="mainlink" href="http://ppt.office365.xin/" target="_blank">
        <div class="w1380">
            <span onclick="$(&#39;.xuanfuad&#39;).hide();return false;" class="closes">×</span>
        </div>
    </a>

</div>
<script>
    $(function () {
        setTimeout(function () {
            $('body').css('padding-bottom', '0');
            $('.xuanfuad').hide();
            return false;
        }, 5000);
    });
</script>
<div style="display:none">

    <script src="./鲸图网-PSD素材,矢量图库,高清图片,免费设计素材下载_files/z_stat(1).php" language="JavaScript"></script>
    <script src="./鲸图网-PSD素材,矢量图库,高清图片,免费设计素材下载_files/core(1).php" charset="utf-8" type="text/javascript"></script>

    <div class="hiddens">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1274246247'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274246247%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        <span id="cnzz_stat_icon_1274246247"></span>
        <script src="./鲸图网-PSD素材,矢量图库,高清图片,免费设计素材下载_files/z_stat.php" type="text/javascript"></script>
        <script src="./鲸图网-PSD素材,矢量图库,高清图片,免费设计素材下载_files/core.php" charset="utf-8" type="text/javascript"></script>
    </div>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?db2ddb441c8b51809666615a0d007d7d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>

<div class="xl-chrome-ext-bar" id="xl_chrome_ext_{4DB361DE-01F7-4376-B494-639E489D19ED}" style="display: none;">
    <div class="xl-chrome-ext-bar__logo"></div>

    <a id="xl_chrome_ext_download" href="javascript:;" class="xl-chrome-ext-bar__option">下载视频</a>
    <a id="xl_chrome_ext_close" href="javascript:;" class="xl-chrome-ext-bar__close"></a>
</div>
</body>
</html>